


.cards-wrapper {
  display: flex;
  justify-content: flex-start; /* Keep cards and buttons side-by-side */
  align-items: flex-start;
  gap: 40px;
  width: 100%; /* Full width for the container */
  max-height: 100%; /* Ensure the wrapper doesn't exceed the parent container's height */
  overflow: hidden; /* Prevent overflowing content */
  box-sizing: border-box;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 equal columns for cards */
  gap: 20px; /* Space between cards */
  max-width: 80%; /* Limit the card grid's width to 70% */
  flex-grow: 1; /* Ensure the grid grows to fill available space */
  max-height: 100%; /* Limit the height to fit within the wrapper */
  overflow: auto; /* Add scrolling if there are too many cards */
}

.card {
  width: 100%; /* Each card takes the full width of the grid column */
  height: 25vh;
  background: #fff;
  border: 2px solid #555555;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
}

.card.hidden {
  visibility: hidden; /* Hides the card but keeps its space */
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
  border-color: #070707;
}

.card.selected {
  border: 3px solid blue;
}

.card-title {
  margin-top: 0;
  color: #333;
}

.card-content {
  color: #666;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 150px; /* Fixed width for buttons */
  flex-shrink: 0; /* Prevent shrinking */
  max-height: 100%; /* Ensure buttons stay within the height limits */
  overflow: hidden; /* Prevent buttons from overflowing */
}

.play-button, .cashin-button, .discard-button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  color: white;
}

.play-button {
  background-color: #981818;
}

.cashin-button {
  background-color: #208120;
}

.discard-button {
  background-color: #999;
  color: #fff;
}

.play-button:hover, .cashin-button:hover, .discard-button:hover {
  opacity: 0.9;
}
