.cards-container {
    display: flex;
    justify-content: flex-start; /* Align items to the start */
  gap: 20px; /* Adjust the space between cards */
  flex-wrap: wrap; /* Allow cards to wrap to the next line */
  }
  
  .card {
    width: calc(17% - 20px); /* Adjust card width based on container and gap */
    height: 27vh;
    background: #fff;
    border: 2px solid #555555;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
  }
  
  .card:hover {
    transform: translateY(-2px);
    box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
    border-color: #070707;
  }

  .card.selected {
    border: 3px solid blue;
  }
  
  .card-title {
    margin-top: 0;
    color: #333;
  }
  
  .card-content {
    color: #666;
  }

  .buttons-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
  }

  .play-button {
    background-color: #981818;
    cursor: pointer;
  }

  .cashin-button {
    background-color: #208120;
    cursor: pointer;
  }

  .discard-button {
    background-color: #fefefe;
    cursor: pointer;
  }