.player-stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
  }
  
  .stats-window {
    border: 2px solid #555555;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s, border-color 0.3s;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    height: 100%;
    box-sizing: border-box;
    background: rgb(249, 242, 232);;
    text-align: left;
    overflow: hidden;
  }

  .stats-window h3 {
    margin: 0 0 10px 0;   /* Add space below the header */
    text-align: center;    /* Center the header text */
    width: 100%;           /* Make sure the header spans the full width */
  }
  
  .stats-window p {
    margin: 5px 0;         /* Add spacing between stats */
    width: 100%;           /* Ensure the paragraphs take full width */
    text-align: left;      /* Left-align the paragraph text */
    line-height: 1.2; /* Adjust line height for better fit */
  }
  
  .stats-window:hover {
    
        transform: translateY(-2px);
        box-shadow: 0 0 25px rgba(0, 0, 0, 0.2);
        border-color: #070707;
      }
  
  .window-2 {
    grid-column: 2 / 3; /* Middle column */
    grid-row: 1 / 2; /* Top row */
    align-self: center; /* Center vertically */
    justify-self: center; /* Center horizontally */
  }


  
  .window-0 {
    grid-column: 2 / 3; /* Middle column */
    grid-row: 3 / 4; /* Bottom row */
    align-self: center; /* Center vertically */
    justify-self: center; /* Center horizontally */
  }

 
  
  .window-1 {
    grid-column: 1 / 2; /* Left column */
    grid-row: 2 / 3; /* Middle row */
    align-self: center; /* Center vertically */
    justify-self: center; /* Center horizontally */
  }

  
  .window-3 {
    grid-column: 3 / 4; /* Right column */
    grid-row: 2 / 3; /* Middle row */
    align-self: center; /* Center vertically */
    justify-self: center; /* Center horizontally */
  }

  